.title{
    border-bottom: 3px solid #e44c35 ;
    width: 30%;
    margin: auto;
}
.service-details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 20px;
}
.service-details h6{
    color: #e44c35;
    font-weight: 600;
}
.service-details h5{
    color: #e44c35;
    font-weight: 600;
}
.service-details span{
    font-size: 32px;
    color: goldenrod;
}
.includes{
    display: flex;
}
input{
    border: 2px solid rgb(182, 178, 178);
    width: 36%;
    padding: 10px ;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 20px;
}

@media only screen and  (max-width:668px) {
    .service-details{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .service-details h3{
        margin-top: 20px;
    }
    .service-details h6{
        font-size: 12px;
    }
    .service-details p{
        font-size: 15px;
    }
  .custom-button{
      font-size: 13px;
  }
  .includes{
      display: block;
  }
  input{
      font-size: 13px;
      display: block;
      width: 80%;
      margin-bottom: 10px;
  }
  .title{
      font-size: 20px;
  }
  .left-align h4{
       font-size: 21px;
  }
  .includes h5{
      font-size: 18px;
  }
 
}