.list{
   display: flex;
   margin: auto;
   text-align: left;
   width: 80%;
}
.list li{
    width:350px;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid lightgrey;
}
@media  only screen and (max-width:668px) {
    .item1{
        display: none;
    }
    .item2{
        display: none;
    }
    .list li{
        width: 140px;
        font-size: 12px;
    }
    .list{
        width: 85%;
        margin: auto;
    }
    .title{
        width: 40%;
    }
}